.h-sec-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.h-con .sec-head {
    margin-bottom: 25px;
}

.sec-head {
    font-size: 30px;
    color: #434343;
    font-family: mulibold;
}
p.para {
    font-size: 16px;
    line-height: 140%;
    font-family: mulibold;
    color: #646464;
}
.pp-list {
    position: relative;
    padding-left: 0;
    margin-bottom: 20px;
}
.pp-list li {
    position: relative;
    padding: 5px 0;
    padding-left: 20px;
    font-family: roboto,sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #646464;
}
.pp-list li:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 8px;
    height: 8px;
    background: var(--blue);
    border-radius: 50%;
}
.main-btn.link-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    background: 0 0;
    border: none!important;
    font-weight: 600;
    color: #000;
    padding: 10px 0;
}
a:hover {
    color: #0a58ca;
}
.main-btn {
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    text-align: center;
    outline: none;
    background: var(--blue);
    font-family: montserrat,sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: var(--white);
    border: none;
}
.main-btn.link-btn img {
    margin-left: 10px;
}
.h-sec .h-img img {
    width: 100%;
}
.h-sec {
    padding: 65px 0;
    position: relative;
}
.h-sec>img {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    max-width: 1200px;
}

img, svg {
    vertical-align: middle;
}
.test-sec {
    padding: 65px 0;
    position: relative;
    overflow: hidden;
}
.test-sec>img {
    position: absolute;
    bottom: -80px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    right: 0;
    max-width: 700px;
}
.c-card {
    padding: 3em 2em;
    -webkit-box-shadow: 0px 100px 99px 0px rgb(31 72 93 / 20%);
    box-shadow: 0px 100px 99px 0px rgb(31 72 93 / 20%);
    background: white;
    border-radius: 8px;
    width: 400px;
    margin-left: auto;
}

.head-form {
    position: relative;
}
.head {
    font-family: "Muli-Bold";
    font-size: 24px;
}
.form-group input, .form-group textarea, .form-group select {
    border-radius: 50px;
    padding: 15px 20px;
    border: 1px solid #929292;
    width: 100%;
}
.form-group { 
    width: 100%;
    margin-bottom: 20px;
}
 .head-content h1 {
    font-size: 52px;
    line-height: 140%;
    color: var(--dark);
    font-family: 'Muli-Bold';
    font-weight: 800;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dark);
}
.head-content p {
    font-family: 'Muli-Bold';
    font-size: 16px;
    color: #B1AAAA;
    max-width: 450px;
}
.banner {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main-header-area .banner-area {
    position: relative;
    overflow: hidden;
}
 img.line-des {
    position: absolute;
    bottom: 0%;
    right: 0;
    width: 100%;
    pointer-events: none;
    top: unset;
}
 .banner-area {
    position: relative;
    overflow: hidden;
}
 .inner-banner {
    width: 100%;
    position: relative;
    padding-top: 100px;
    padding-bottom: 180px;
}
@media (max-width:767px){
    .c-card {
        padding: 3em 2em;
        box-shadow: 0px 100px 99px 0px rgb(31 72 93 / 20%);
        background: white;
        border-radius: 8px;
        width: 351px;
        margin-left: auto;
    }
    .head-content h1 {
        font-size: 35px;
        line-height: 140%;

    }
}

.banner_main{
    margin-top: -30%;
}