@font-face {
  font-family: "Muli-Light";
  src:url("../src/Components/assets/fonts/Muli-Light.ttf")
}
@font-face {
  font-family: "Muli-Black";
  src: url("../src/Components/assets/fonts/Muli-Black.ttf");
}
@font-face {
  font-family: "Muli-ExtraLight";
  src: url("../src/Components/assets/fonts/Muli-ExtraLight.ttf");
}
@font-face {
  font-family: "Muli-Regular";
  src: url("../src/Components/assets/fonts/Muli-Regular.ttf");
}
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../src/Components/assets/fonts/Muli-SemiBold.ttf");
}
@font-face {
  font-family: "Muli-Bold";
  src: url("../src/Components/assets/fonts/Muli-Bold.ttf");
}
@font-face {
  font-family: "Muli-ExtraBold";
  src: url("../src/Components/assets/fonts/Muli-ExtraBold.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

:root {
  --blue: #2CABE1;
  --dark: #1E1C24;
  --white: #fff;
  --black: #000;
  --shadow: 0px 100px 99px 0px rgba(31, 72, 93, 0.20);
  --transition: 0.2s ease-in-out;
  --nav-height: 65px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h3{
  font-family: "Muli-Bold";
  font-weight: 700;
}